---
import clsx from "clsx";
import ExternalLink from "./external-link.astro";

const pathname = Astro.url.pathname;
---

<footer class="py-4 px-4 sm:px-12 w-full fixed bottom-0 flex items-center gap-4 sm:gap-8 bg-zinc-900">
    <div class="flex gap-0">
         <!-- <ExternalLink href="/" openNewTab={false}>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" class="w-6 h-6 text-zinc-500 group-hover:text-zinc-100">
                <title>Home</title>
                <path fill="currentColor" fill-rule="evenodd" d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" clip-rule="evenodd"/>
            </svg>
        </ExternalLink> -->
<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
        
    
        
    </div>
    

    <ExternalLink href="/work" openNewTab={false}>Work</ExternalLink>
    <ExternalLink href="/about" openNewTab={false}>About</ExternalLink>
    <ExternalLink href="/contact" openNewTab={false}>Contact</ExternalLink>
</footer>

<!-- place to get icons https://iconsvg.xyz -->