---
import clsx from "clsx/lite";

type Props = {
    className?: string;
    size?: "default" | "large";
}

const { size = "default", className } = Astro.props;
---

<h1
    class={clsx(
        "text-text1 font-serif font-bold text-balance",
        size === "default" && "text-6xl md:text-6xl xl:text-8xl tracking-normal",
        size === "large" && "text-8xl md:text-[11rem] tracking-normal",
        className,
    )}
>
    <slot />
</h1>
